@charset "utf-8";


@media (min-width: 599px) {

    header .rico {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        position: fixed;
        justify-content: space-between;
        left: 0;
        top: 0;
        z-index: 10;
        background-color: whitesmoke;
    }

    header #logo {
        width: 200PX;
        height: 80PX;
        margin: 0 0 0 5%;
    }


    header #scol {
        display: block;
    }


    #section1 {
        width: 100%;
        margin: 0 auto;
        background-color: #232323;
    }

    #section1 video {
        width: 100%;
        margin: 0 auto;
    }

    #section2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 50px 0;
        background-color: whitesmoke;
    }

    #section2>#s2wrap {

        width: 1225px;
        height: auto;
        padding: 0 0 20px 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;

    }

    #s2wrap>#story {

        width: 65%;
        height: auto;
        /* margin: 100px auto 0; */
        text-align: center;


    }

    #s2wrap>#story>p {

        margin: 0 auto;
        color: #282828;
        font-family: "Century Gothic";
        padding: 10px;
        line-height: 90%;


    }

    #s2wrap>#story>p:nth-of-type(2) {

        margin: 30px 0 0 0;


    }

    #story h1 {

        margin: 0 auto;
        color: black;
        font-family: "Century Gothic";
        font-size: 65px;


    }

    #s2wrap>#story h2 {

        margin: 0 auto;
        color: #5a5a5a;
        font-family: "Century Gothic";
        font-size: 35px;

    }

    #story>#box_wrap {
        width: 100%;
        height: auto;
        margin: 40px 0 0 0;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    #box_wrap>.box {

        width: 60%;
        height: 110px;
        background-color: #232323;
        margin: 10px 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    #box_wrap>.box>p {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0 auto;
        padding: 10px 15px;
        color: white;
        font-size: 15px;
    }

    #submit>textarea {
        width: 80%;
        height: 30px;
        border: none;
        margin: 30px 0 0 0;
        border-bottom: 1px solid gray;
        color: #9e9d9b;
        background-color: transparent;
        font-family: "Arial"

    }

    #submit>textarea:nth-of-type(1) {
        margin: 70px 0 0 0;
    }

    #submit>textarea:nth-of-type(4) {
        padding: 0 0 60px 0;
    }

    #submit>button {
        width: 220px;
        height: 50px;
        background-color: orange;
        color: whitesmoke;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Century Gothic";
        margin: 20px auto 0;
    }

    #s2wrap>#info {
        width: 30%;
        height: 630px;
        background-color: #232323;
        margin: 30px auto 0;
    }

    #info>#request {
        width: 100%;
        height: 110px;
        background-color: #ffc526;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #request p {
        margin: 0 0 0 20px;
        color: #5a5a5a;
        font-family: "Century Gothic";
        font-size: 18px;
        text-align: center;
    }

    #request span {
        font-size: 25px;
        color: #5a5a5a;
        font-family: "Century Gothic";
        font-weight: bold;
        text-align: center;
    }



    #section3 {

        width: 100%;
        height: auto;
        padding: 50px 0;
        background-color: #232323;


    }

    #section3>#s3_title {

        width: 520px;
        height: 235px;
        margin: 30px auto 0;

    }


    #s3_title>p {

        text-align: center;
        margin: 0 auto;
        color: #9e9d9b;

    }

    #s3_title>p:nth-of-type(2) {
        margin: 30px;
        font-family: "맑은 고딕";
        font-style: italic;
        font-size: 14px;
    }

    #s3_title>h2 {
        margin: 0 auto;
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #s3_title>#line {

        width: 150px;
        height: 80px;
        margin: 0 auto;
        border: 3px solid gold;
        margin: -230px auto;


    }

    #section3>#iconbox {

        width: 100%;
        height: 125px;
        display: flex;
        justify-content: space-around;
    }

    .icon>i {

        font-size: 45px;
        color: white;
        margin: 0 auto;

    }

    .icon>h3 {
        color: white;
        font-size: 16px;
        font-family: "Century Gothic";
    }

    #iconbox>div:nth-of-type(3)>i {
        color: #ffc526;
    }

    #iconbox>div:nth-of-type(3)>h3 {
        color: #ffc526;
    }


    #section3>#photobox {

        width: 100%;
        /* height: 800px; */
        background-color: #282828;
        display: flex;
        flex-wrap: nowrap;


    }

    #photobox>#half1 {
        width: 50%;
    }


    #half1>.goal {

        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        overflow: hidden;

    }

    .goal img {

        height: 100%;
        transition: 0.7s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }




    .goal img:hover {
        transform: translate(-50%, -50%) scale(1.2);

    }


    #photobox>#half2 {
        width: 50%;
        padding-bottom: 50px;
    }

    #half2>h2 {

        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
        margin: 80px;
        text-align: left;

    }

    #half2>p {
        color: white;
        font-family: "Century Gothic";
        width: 77%;
        font-size: 18px;
        margin: 80px;
    }

    #half2 button {
        width: 220px;
        height: 50px;
        background-color: orange;
        color: whitesmoke;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Century Gothic";
        margin: 0 auto;
        display: block;
    }


    #section4 {
        width: 100%;
        height: auto;
        padding: 50px 0;
        background-color: #232323;
    }

    #section4>h2 {
        color: white;
        font-family: "Century Gothic";
        font-size: 40px;
        text-align: center;
    }

    #section4>#line {
        width: 150px;
        height: 80px;
        margin: 0 auto;
        border: 3px solid gold;
        margin: -50px auto;
    }

    #section4>#category {
        width: 100%;
        margin: 130px auto 0;
    }

    #category>ul {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    #category>ul li {
        color: white;
        font-size: 14px;
        font-family: "Century Gothic";
        cursor: pointer;
        padding: 5px 10px;
    }

    #category>ul li:hover {
        color: gold;
    }

    #section4>#gallery {
        width: 100%;
        margin: 50px auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    #gallery>.gall {
        width: 23%;
        cursor: pointer;
        overflow: hidden;
        margin: 8px;
    }

    .gall img {
        width: 100%;
        height: 100%;
        transition: 0.8s;
    }

    .gall img:hover {
        transform: scale(1.3);

    }

    #section5 {
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    #section5>#s5_title_box {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    #s5_title {
        width: 100%;
        height: auto;
        text-align: center;
    }

    #s5_title>p {
        color: #9e9d9b;
        margin: 45px 0 0 0;
    }

    #s5_title>p:nth-of-type(1) {
        color: #9e9d9b;
        margin: 45px 0 0 0;
    }

    #s5_title>p:nth-of-type(2) {
        width: 90%;
        margin: 30px auto 0;
    }

    #s5_title>h2 {
        margin: 0 0 0 30px;
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #s5_title>h2>span {
        color: #ffc525;
        font-family: "Century Gothic";
        font-size: 45px;
    }

    #s5_title>#line {
        width: 70px;
        height: 90px;
        border: 2px solid gold;
        margin: -90px auto 0;
    }

    #cert_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        margin: 30px 0 0 0;
    }

    #cert_box>.box {
        width: 90%;
        height: 105px;
        background-color: #232323;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 10px;
    }

    #cert_box>.box>i {
        color: #ffc525;
        font-size: 40px;
        display: block;
        text-align: center;
    }

    #cert_box>.box>p {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0;
        padding: 10px 15px;
        color: white;
        font-size: 15px;
        text-align: center;
    }

    #section5>#box123 {
        width: 100%;
        height: auto;
        display: flex;
        margin: 50px 0 0 0;
    }

    #box123>#box1 {
        width: 43%;
        position: relative;
    }

    #box1 img {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #box123>#box2 {
        width: 23%;
        background-color: #ffc526;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    #box2>h3 {
        color: white;
        text-align: center;
        font-size: 20px;
        width: 100%;
        margin: 50px auto 0;
    }


    #box2>p {
        color: white;
        text-align: left;
        font-size: 16px;
        width: 100%;
        margin: 20px auto 0;
    }

    #box123>#box3 {
        width: 34%;
        height: 470px;
        background-color: #232323;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }

    #box3>.good_box>p {
        margin: 0;
        color: white;
        font-size: 16px;
    }

    .good_box>.percent {
        width: 380px;
        height: 5px;
        background-color: white;
    }

    .guage {
        width: 3px;
        height: 5px;
        background-color: #ffc526;
    }


    #section6 {
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    #section6 h1 {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 3px;
        margin: 0;
        padding: 10px 15px;
        color: white;
        font-size: 25px;
        text-align: center;
    }

    #section6 h3 {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 3px;
        margin: 0;
        padding: 10px 15px;
        color: white;
        font-size: 25px;
        text-align: center;
    }

    #section6 #line {
        width: 160px;
        height: 110px;
        border: 2px solid gold;
        margin: -100px auto 0;
    }

    .boxbox {
        position: relative;
        margin: 25px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        overflow: hidden;
        width: 330px;
        height: 440px;
        display: inline-block;
    }

    .boxbox img {
        width: 100%;
        height: 100%;
    }

    .boxbox .info {
        position: absolute;
        left: 0;
        top: auto;
        bottom: -85px;
        /* overflow: hidden; */
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 13px;
        transition: 0.8s;
    }

    .boxbox .info h3 {

        font-size: 28px;

    }

    .boxbox:hover .info {

        bottom: 0;

    }



    #section7 {
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    #blog1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: aliceblue;
        margin: 0 auto;
    }

    #blog1 h3 {
        width: 100%;
        font-size: 18px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
    }

    #blog1 h1 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
    }

    #blog1 span {
        width: 100%;
        font-size: 45px;
        color: orange;

    }


    #section7 .box1 {

        width: 30%;
        margin: 0 auto;

    }


    #section7 .box1 img {
        width: 100%;
    }

    #section7 .box1 .textbox {
        width: 380px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }


    #section8 {
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    #section8>#contact_wrap {
        width: 1150px;
        height: 550px;
        margin: 0 auto;
        text-align: left;
    }

    #contact_wrap>p {
        color: #9e9d9b;
        margin: 25px 0 0 35px;
    }

    #contact_wrap>h2 {
        margin: 0 0 0 30px;
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #contact_wrap>h2>span {
        color: #ffc525;
        font-family: "Century Gothic";
        font-size: 45px;
    }

    #contact_wrap>#line {
        width: 70px;
        height: 90px;
        border: 2px solid gold;
        margin: -90px 0 0 0;
    }

    #contact_wrap>#contact_box {
        width: 1150px;
        height: 440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #contact_box>#left_box {
        width: 400px;
        height: 350px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
    }

    #left_box>.contact_icon {
        width: 300px;
        height: 80px;
        display: flex;
    }

    .contact_icon>i {
        color: gold;
        font-size: 45px;
    }

    .contact_icon>p {
        color: #9e9d9b;
        font-size: 17px;
        margin: 0 0 0 40px;
    }

    #contact_box>#right_box {
        width: 730px;
        height: 400px;
    }

    #right_box>textarea {
        width: 333px;
        height: 20px;
        border: none;
        margin: 60px 15px 0 0;
        border-bottom: 1px solid gray;
        color: #9e9d9b;
        background-color: transparent;
        font-family: "Arial"
    }

    #right_box>textarea:nth-of-type(5) {
        width: 700px;
        padding: 0 0 60px 0;
    }

    #right_box>button {
        width: 700px;
        height: 50px;
        background-color: white;
        border: none;
        color: #232323;
        border-radius: 3px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Century Gothic";
        margin: 30px 0 0 0;
    }








    footer {
        width: 100%;
        height: auto;
        background-color: #1f1f1f;
        padding: 0 0 20px 0;
    }

    footer>#footer_wrap {
        width: 1220px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
    }

    #footer_wrap>p {
        color: white;
        margin: 0;
        font-size: 14px;
        font-family: "Arial";
    }

    #footer_wrap>#sns_box {
        width: 420px;
        height: auto;
        display: flex;
        margin: 0 0 0 35px;
    }

    #sns_box>.sns {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
        background-color: #161616;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sns>i {
        font-size: 17px;
        color: #9d9d9b;
    }

    #footer_wrap>input {
        width: 300px;
        height: 33px;
        float: left;
        margin: 0;
        font-family: "돋움";
        font-size: 12px;
        color: #9e9d9b;
        font-style: italic;
        background-color: transparent;
        border: 0;
        border: 3px solid #292929;
        margin: 0 0 0 25px;
    }

    #footer_wrap>button {
        width: 80px;
        height: 39px;
        background-color: #292929;
        color: white;
        border: none;
    }

    footer>#copy {
        width: 500px;
        height: auto;
        margin: 60px auto 0;
    }

    #copy>p {
        font-size: 13px;
        color: #9e9d9b;
        text-align: center;
        line-height: 180%;
    }

    #copy>p span {
        color: #ffc526;
    }





}


@media (min-width: 600px) {

    header {
        width: 100%;
        margin: 0 auto;
    }

    header .rico {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;
        position: fixed;
        left: 0;
        top: 0;
        background-color: whitesmoke;
        z-index: 10;
    }

    header #logo {
        width: 200PX;
        height: 80PX;
        margin: 0 0 0 5%;
    }

    header #logo img {
        width: 200px;
        height: 80px;
        margin: 0 0 0 5%;
    }


    header #scol {
        display: block;
    }

    header ul li {
        display: inline;
    }

    header ul li a {
        padding: 0 20px;
        text-decoration: none;
        color: black;
        display: inline-block;
        font-family: "Century Gothic";
        font-weight: bold;
        font-size: 14px;
    }

    header ul li a:hover {
        color: #ffc526;
    }

    .active {
        color: #ffc526;
    }


    #section1 {
        width: 100%;
        margin: 0 auto;
        background-color: #232323;
    }


    #section1 video {
        width: 100%;
        margin: 0 auto;
    }

    #section2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 50px 0;
        background-color: whitesmoke;
    }

    #section2>#s2wrap {

        width: 1225px;
        height: auto;
        padding: 0 0 20px 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;

    }

    #s2wrap>#story {

        width: 65%;
        height: auto;
        /* margin: 100px auto 0; */
        text-align: center;


    }

    #s2wrap>#story>p {

        margin: 0 auto;
        color: #282828;
        font-family: "Century Gothic";
        padding: 10px;
        line-height: 90%;



    }

    #s2wrap>#story>p:nth-of-type(2) {
        margin: 30px 0 0 0;
    }

    #story h1 {
        margin: 0 auto;
        color: black;
        font-family: "Century Gothic";
        font-size: 65px;
    }

    #s2wrap>#story h2 {
        margin: 0 auto;
        color: #5a5a5a;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #story>#box_wrap {
        width: 100%;
        height: auto;
        margin: 40px 0 0 0;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    #box_wrap>.box {
        width: 60%;
        height: 110px;
        background-color: #232323;
        margin: 10px 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    #box_wrap>.box>p {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0 auto;
        padding: 10px 15px;
        color: white;
        font-size: 15px;
    }


    #submit {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }

    #submit>textarea {
        width: 80%;
        height: 30px;
        border: none;
        margin: 30px 0 0 0;
        border-bottom: 1px solid gray;
        color: #9e9d9b;
        background-color: transparent;
        font-family: "Arial"
    }

    #submit>textarea:nth-of-type(1) {
        margin: 70px 0 0 0;
    }

    #submit>textarea:nth-of-type(4) {
        padding: 0 0 60px 0;
    }

    #submit>button {
        width: 220px;
        height: 50px;
        background-color: orange;
        color: whitesmoke;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Century Gothic";
        margin: 20px auto 0;
    }

    #s2wrap>#info {
        width: 30%;
        height: 630px;
        background-color: #232323;
        margin: 30px auto 0;
    }

    #info>#request {
        width: 100%;
        height: 110px;
        background-color: #ffc526;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #request p {
        margin: 0 0 0 20px;
        color: #5a5a5a;
        font-family: "Century Gothic";
        font-size: 18px;
        text-align: center;
    }

    #request span {
        font-size: 25px;
        color: #5a5a5a;
        font-family: "Century Gothic";
        font-weight: bold;
        text-align: center;
    }




    #section3 {
        width: 100%;
        height: auto;
        padding: 50px 0;
        background-color: #232323;
    }

    #section3>#s3_title {
        width: 520px;
        height: 235px;
        margin: 30px auto 0;
    }

    #s3_title>p {
        text-align: center;
        margin: 0 auto;
        color: #9e9d9b;
    }

    #s3_title>p:nth-of-type(2) {
        margin: 30px;
        font-family: "맑은 고딕";
        font-style: italic;
        font-size: 14px;
    }

    #s3_title>h2 {
        margin: 0 auto;
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #s3_title>#line {
        width: 150px;
        height: 80px;
        margin: 0 auto;
        border: 3px solid gold;
        margin: -230px auto;
    }

    #section3>#iconbox {
        width: 100%;
        height: 125px;
        display: flex;
        justify-content: space-around;
    }

    .icon>i {
        font-size: 45px;
        color: white;
        margin: 0 auto;
    }

    .icon>h3 {
        color: white;
        font-size: 16px;
        font-family: "Century Gothic";
    }

    #iconbox>div:nth-of-type(3)>i {
        color: #ffc526;
    }

    #iconbox>div:nth-of-type(3)>h3 {
        color: #ffc526;
    }


    #section3>#photobox {
        width: 100%;
        /* height: 800px; */
        background-color: #282828;
        display: flex;
        flex-wrap: nowrap;
    }

    #photobox>#half1 {
        width: 50%;
    }


    #half1>.goal {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        overflow: hidden;
    }

    .goal img {

        height: 100%;
        transition: 0.7s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .goal img:hover {
        transform: translate(-50%, -50%) scale(1.2);
    }


    #photobox>#half2 {
        width: 50%;
        padding-bottom: 50px;
    }

    #half2>h2 {
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
        margin: 80px;
        text-align: left;
    }

    #half2>p {
        color: white;
        font-family: "Century Gothic";
        width: 77%;
        font-size: 18px;
        margin: 80px;
    }

    #half2 button {
        width: 220px;
        height: 50px;
        background-color: orange;
        color: whitesmoke;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Century Gothic";
        margin: 0 auto;
        display: block;
    }



    #section4 {
        width: 100%;
        height: auto;
        padding: 50px 0;
        background-color: #232323;
    }

    #section4>h2 {
        color: white;
        font-family: "Century Gothic";
        font-size: 40px;
        text-align: center;
    }

    #section4>#line {
        width: 150px;
        height: 80px;
        margin: 0 auto;
        border: 3px solid gold;
        margin: -50px auto;
    }

    #section4>#category {
        width: 100%;
        margin: 130px auto 0;
    }

    #category>ul {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    #category>ul li {
        color: white;
        font-size: 14px;
        font-family: "Century Gothic";
        cursor: pointer;
        padding: 5px 10px;
    }

    #category>ul li:hover {
        color: gold;
    }

    #section4>#gallery {
        width: 100%;
        margin: 50px auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    #gallery>.gall {
        width: 23%;
        cursor: pointer;
        overflow: hidden;
        margin: 8px;
    }

    .gall img {
        width: 100%;
        height: 100%;
        transition: 0.8s;
    }

    .gall img:hover {
        transform: scale(1.3);

    }



    #section5 {
        width: 100%;
        height: auto;
        padding: 50px 0;
        background-color: #161616;
    }

    #section5>#s5_title_box {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    #s5_title {
        width: 100%;
        height: auto;
        text-align: center;
    }

    #s5_title>p {
        color: #9e9d9b;
        margin: 45px 0 0 0;
    }

    #s5_title>p:nth-of-type(1) {
        color: #9e9d9b;
        margin: 45px 0 0 0;
    }

    #s5_title>p:nth-of-type(2) {
        width: 90%;
        margin: 30px auto 0;
    }

    #s5_title>h2 {
        margin: 0 0 0 30px;
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #s5_title>h2>span {
        color: #ffc525;
        font-family: "Century Gothic";
        font-size: 45px;
    }

    #s5_title>#line {
        width: 70px;
        height: 90px;
        border: 2px solid gold;
        margin: -90px auto 0;
    }

    #cert_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        margin: 30px 0 0 0;
    }

    #cert_box>.box {
        width: 90%;
        height: 105px;
        background-color: #232323;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 10px;
    }

    #cert_box>.box>i {
        color: #ffc525;
        font-size: 40px;
        display: block;
        text-align: center;
    }

    #cert_box>.box>p {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0;
        padding: 10px 15px;
        color: white;
        font-size: 15px;
        text-align: center;
    }


    #section5>#box123 {
        width: 100%;
        height: auto;
        display: flex;
        margin: 50px 0 0 0;
    }

    #box123>#box1 {
        width: 43%;
        position: relative;
    }

    #box1 img {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #box123>#box2 {
        width: 23%;
        background-color: #ffc526;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    #box2>h3 {
        color: white;
        text-align: center;
        font-size: 20px;
        width: 100%;
        margin: 50px auto 0;
    }


    #box2>p {
        color: white;
        text-align: left;
        font-size: 16px;
        width: 100%;
        margin: 20px auto 0;
    }

    #box123>#box3 {
        width: 34%;
        height: 470px;
        background-color: #232323;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }

    #box3>.good_box>p {
        margin: 0;
        color: white;
        font-size: 16px;
    }

    .good_box>.percent {
        width: 380px;
        height: 5px;
        background-color: white;
    }

    .guage {
        width: 3px;
        height: 5px;
        background-color: #ffc526;
    }





    #section6 {
        width: 100%;
        height: 800px;
        padding: 30px 0;
        margin: 0 auto;
        background-color: #1f1f1f;
    }

    #section6 h1 {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 3px;
        margin: 0;
        padding: 10px 15px;
        color: white;
        font-size: 25px;
        text-align: center;
    }

    #section6 h3 {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 3px;
        margin: 0;
        padding: 10px 15px;
        color: white;
        font-size: 25px;
        text-align: center;
    }

    #section6 #line {
        width: 160px;
        height: 110px;
        border: 2px solid gold;
        margin: -100px auto 0;
    }

    .boxbox {
        position: relative;
        margin: 25px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        overflow: hidden;
        width: 330px;
        height: 440px;
        display: inline-block;
    }

    .boxbox img {
        width: 100%;
        height: 100%;
    }

    .boxbox .info {
        position: absolute;
        left: 0;
        top: auto;
        bottom: -85px;
        /* overflow: hidden; */
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 13px;
        transition: 0.8s;
    }

    .boxbox .info h3 {

        font-size: 28px;

    }

    .boxbox:hover .info {

        bottom: 0;

    }



    #section7 {
        width: 100%;
        height: auto;
        padding: 50px 0;
    }

    #blog1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: aliceblue;
        margin: 0 auto;
    }

    #blog1 h3 {
        width: 100%;
        font-size: 18px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
    }

    #blog1 h1 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
    }

    #blog1 span {
        width: 100%;
        font-size: 45px;
        color: orange;

    }

    #section7 .box1 {

        width: 30%;
        margin: 0 auto;

    }


    #section7 .box1 img {
        width: 100%;
    }

    #section7 .box1 .textbox {
        width: 380px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }




    #section8 {
        width: 100%;
        height: 600px;
        height: auto;
        padding: 50px 0;
        background-color: #232323;
    }

    #section8>#contact_wrap {
        width: 1150px;
        height: 550px;
        margin: 0 auto;
        text-align: left;
    }

    #contact_wrap>p {
        color: #9e9d9b;
        margin: 25px 0 0 35px;
    }

    #contact_wrap>h2 {
        margin: 0 0 0 30px;
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #contact_wrap>h2>span {
        color: #ffc525;
        font-family: "Century Gothic";
        font-size: 45px;
    }

    #contact_wrap>#line {
        width: 70px;
        height: 90px;
        border: 2px solid gold;
        margin: -90px 0 0 0;
    }

    #contact_wrap>#contact_box {
        width: 1150px;
        height: 440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #contact_box>#left_box {
        width: 400px;
        height: 350px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
    }

    #left_box>.contact_icon {
        width: 300px;
        height: 80px;
        display: flex;
    }

    .contact_icon>i {
        color: gold;
        font-size: 45px;
    }

    .contact_icon>p {
        color: #9e9d9b;
        font-size: 17px;
        margin: 0 0 0 40px;
    }

    #contact_box>#right_box {
        width: 730px;
        height: 400px;
    }

    #right_box>textarea {
        width: 333px;
        height: 20px;
        border: none;
        margin: 60px 15px 0 0;
        border-bottom: 1px solid gray;
        color: #9e9d9b;
        background-color: transparent;
        font-family: "Arial"
    }

    #right_box>textarea:nth-of-type(5) {
        width: 700px;
        padding: 0 0 60px 0;
    }

    #right_box>button {
        width: 700px;
        height: 50px;
        background-color: white;
        border: none;
        color: #232323;
        border-radius: 3px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Century Gothic";
        margin: 30px 0 0 0;
    }

    footer {
        width: 100%;
        height: auto;
        background-color: #1f1f1f;
        padding: 0 0 20px 0;
    }

    footer>#footer_wrap {
        width: 1220px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
    }

    #footer_wrap>p {
        color: white;
        margin: 0;
        font-size: 14px;
        font-family: "Arial";
    }

    #footer_wrap>#sns_box {
        width: 420px;
        height: auto;
        display: flex;
        margin: 0 0 0 35px;
    }

    #sns_box>.sns {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
        background-color: #161616;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sns>i {
        font-size: 17px;
        color: #9d9d9b;
    }

    #footer_wrap>input {
        width: 300px;
        height: 33px;
        float: left;
        margin: 0;
        font-family: "돋움";
        font-size: 12px;
        color: #9e9d9b;
        font-style: italic;
        background-color: transparent;
        border: 0;
        border: 3px solid #292929;
        margin: 0 0 0 25px;
    }

    #footer_wrap>button {
        width: 80px;
        height: 39px;
        background-color: #292929;
        color: white;
        border: none;
    }

    footer>#copy {
        width: 500px;
        height: auto;
        margin: 60px auto 0;
    }

    #copy>p {
        font-size: 13px;
        color: #9e9d9b;
        text-align: center;
        line-height: 180%;
    }

    #copy>p span {
        color: #ffc526;
    }




}

@media (min-width: 1200px) {


    header {
        width: 100%;
        margin: 0 auto;
    }


    header .rico {
        width: 100%;
        margin: 0 auto;
        background-color: whitesmoke;
        display: flex;
        justify-content: space-around;
        overflow: visible;
        position: relative;
    }

    header #logo {
        width: 200PX;
        height: 80PX;
        margin: 0 0 0 5%;

    }

    header #logo img {
        width: 200px;
        height: 80px;
        margin: 0 0 0 5%;
    }

    header #scol {
        display: block;
    }

    header ul li {
        display: inline;
    }

    header ul li a {
        padding: 0 20px;
        text-decoration: none;
        color: black;
        display: inline-block;
        font-family: "Century Gothic";
        font-weight: bold;
        font-size: 14px;
    }

    header ul li a:hover {
        color: #ffc526;
    }


    .active {
        color: #ffc526
    }

    #section1 {
        width: 100%;
        margin: 0 auto;
        background-color: #232323;
    }

    #section1 video {
        width: 100%;
        margin: 0 auto;

    }

    #section2 {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 50px 0;
        background-color: whitesmoke;
    }

    #section2>#s2wrap {
        width: 1225px;
        height: auto;
        padding: 0 0 20px 0;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    #s2wrap>#story {
        width: 65%;
        height: auto;
        /* margin: 100px auto 0; */
        text-align: center;
    }

    #s2wrap>#story>p {
        margin: 0 auto;
        color: #282828;
        font-family: "Century Gothic";
        padding: 10px;
        line-height: 90%;
    }

    #s2wrap>#story>p:nth-of-type(2) {
        margin: 30px 0 0 0;
    }

    #story h1 {
        margin: 0 auto;
        color: black;
        font-family: "Century Gothic";
        font-size: 65px;
    }

    #s2wrap>#story h2 {
        margin: 0 auto;
        color: #5a5a5a;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #story>#box_wrap {
        width: 100%;
        height: auto;
        margin: 40px 0 0 0;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    #box_wrap>.box {
        width: 60%;
        height: 110px;
        background-color: #232323;
        margin: 10px 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    #box_wrap>.box>p {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0 auto;
        padding: 10px 15px;
        color: white;
        font-size: 15px;
    }

    #submit {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }

    #submit>textarea {
        width: 80%;
        height: 30px;
        border: none;
        margin: 30px 0 0 0;
        border-bottom: 1px solid gray;
        color: #9e9d9b;
        background-color: transparent;
        font-family: "Arial"
    }

    #submit>textarea:nth-of-type(1) {
        margin: 70px 0 0 0;
    }

    #submit>textarea:nth-of-type(4) {
        padding: 0 0 60px 0;
    }

    #submit>button {
        width: 220px;
        height: 50px;
        background-color: orange;
        color: whitesmoke;
        border-radius: 2px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Century Gothic";
        margin: 20px auto 0;
    }

    #s2wrap>#info {
        width: 30%;
        height: 630px;
        background-color: #232323;
        margin: 30px auto 0;
    }

    #info>#request {
        width: 100%;
        height: 110px;
        background-color: #ffc526;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #request p {
        margin: 0 0 0 20px;
        color: #5a5a5a;
        font-family: "Century Gothic";
        font-size: 18px;
        text-align: center;
    }

    #request span {
        font-size: 25px;
        color: #5a5a5a;
        font-family: "Century Gothic";
        font-weight: bold;
        text-align: center;
    }

    #section3 {
        width: 100%;
        height: auto;
        padding: 50px 0;
        background-color: #232323;
    }

    #section3>#s3_title {
        width: 520px;
        height: 235px;
        margin: 30px auto 0;
    }

    #s3_title>p {
        text-align: center;
        margin: 0 auto;
        color: #9e9d9b;
    }

    #s3_title>p:nth-of-type(2) {
        margin: 30px;
        font-family: "맑은 고딕";
        font-style: italic;
        font-size: 14px;
    }

    #s3_title>h2 {
        margin: 0 auto;
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #s3_title>#line {
        width: 150px;
        height: 80px;
        margin: 0 auto;
        border: 3px solid gold;
        margin: -230px auto;
    }

    #section3>#iconbox {
        width: 100%;
        height: 125px;
        display: flex;
        justify-content: space-around;
    }

    .icon>i {
        font-size: 45px;
        color: white;
        margin: 0 auto;
    }




    .icon>h3 {
        color: white;
        font-size: 16px;
        font-family: "Century Gothic";
    }

    #iconbox>div:nth-of-type(3)>i {
        color: #ffc526;
    }

    #iconbox>div:nth-of-type(3)>h3 {
        color: #ffc526;
    }

    #section3>#photobox {
        width: 100%;
        /* height: 800px; */
        background-color: #282828;
        display: flex;
        flex-wrap: nowrap;
    }

    #photobox>#half1 {
        width: 50%;
        /* height: 800px; */
        /* background-image: url(../img/main/img1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.5s; */
    }

    /* #photobox>#half1:hover {
        background-size: 170% 110%;
    } */



    #half1>.goal {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        overflow: hidden;
    }

    .goal img {
        /* width: 100%; */
        height: 100%;
        transition: 0.7s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .goal img:hover {
        transform: translate(-50%, -50%) scale(1.2);

    }

    #photobox>#half2 {
        width: 50%;
        /* height: 800px; */
        padding-bottom: 50px;

    }

    #half2>h2 {
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
        margin: 80px;
        text-align: left;
    }

    #half2>p {
        color: white;
        font-family: "Century Gothic";
        width: 77%;
        font-size: 18px;
        margin: 80px;

    }

    #half2 button {
        width: 220px;
        height: 50px;
        background-color: orange;
        color: whitesmoke;
        border-radius: 4px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Century Gothic";
        margin: 0 auto;
        display: block;
    }

    #section4 {
        width: 100%;
        height: auto;
        padding: 50px 0;
        background-color: #232323;
    }

    #section4>h2 {
        color: white;
        font-family: "Century Gothic";
        font-size: 40px;
        text-align: center;
    }

    #section4>#line {
        width: 150px;
        height: 80px;
        margin: 0 auto;
        border: 3px solid gold;
        margin: -50px auto;
    }

    #section4>#category {
        width: 100%;
        margin: 130px auto 0;
    }

    #category>ul {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    #category>ul li {
        color: white;
        font-size: 14px;
        font-family: "Century Gothic";
        cursor: pointer;
        padding: 5px 10px;
    }

    #category>ul li:hover {
        color: gold;
    }

    #section4>#gallery {
        width: 100%;
        margin: 50px auto 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    #gallery>.gall {
        width: 23%;
        cursor: pointer;
        overflow: hidden;
        margin: 8px;
    }

    .gall img {
        width: 100%;
        height: 100%;
        transition: 0.8s;
    }

    .gall img:hover {
        transform: scale(1.3);

    }

    #section5 {
        width: 100%;
        height: auto;
        padding: 50px 0;
        background-color: #161616;
    }


    #section5>#s5_title_box {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    #s5_title {
        width: 100%;
        height: auto;
        text-align: center;
    }

    #s5_title>p {
        color: #9e9d9b;
        margin: 45px 0 0 0;
    }

    #s5_title>p:nth-of-type(1) {
        color: #9e9d9b;
        margin: 45px 0 0 0;
    }

    #s5_title>p:nth-of-type(2) {
        width: 90%;
        margin: 30px auto 0;
    }

    #s5_title>h2 {
        margin: 0 0 0 30px;
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #s5_title>h2>span {
        color: #ffc525;
        font-family: "Century Gothic";
        font-size: 45px;
    }

    #s5_title>#line {
        width: 70px;
        height: 90px;
        border: 2px solid gold;
        margin: -90px auto 0;
    }

    #cert_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        margin: 30px 0 0 0;
    }

    #cert_box>.box {
        width: 90%;
        height: 105px;
        background-color: #232323;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 10px;
    }

    #cert_box>.box>i {
        color: #ffc525;
        font-size: 40px;
        display: block;
        text-align: center;
    }

    #cert_box>.box>p {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0;
        padding: 10px 15px;
        color: white;
        font-size: 15px;
        text-align: center;
    }


    #section5>#box123 {
        width: 100%;
        height: auto;
        display: flex;
        margin: 50px 0 0 0;
    }

    #box123>#box1 {
        width: 43%;
        position: relative;
    }

    #box1 img {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #box123>#box2 {
        width: 23%;
        background-color: #ffc526;
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    #box2>h3 {
        color: white;
        text-align: center;
        font-size: 20px;
        width: 100%;
        margin: 50px auto 0;
    }


    #box2>p {
        color: white;
        text-align: left;
        font-size: 16px;
        width: 100%;
        margin: 20px auto 0;
    }

    #box123>#box3 {
        width: 34%;
        height: 470px;
        background-color: #232323;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }

    #box3>.good_box>p {
        margin: 0;
        color: white;
        font-size: 16px;
    }

    .good_box>.percent {
        width: 380px;
        height: 5px;
        background-color: white;
    }

    .guage {
        width: 3px;
        height: 5px;
        background-color: #ffc526;
    }

    #section6 {
        width: 100%;
        height: 800px;
        padding: 30px 0;
        margin: 0 auto;

        background-color: #1f1f1f;
    }

    #section6 h1 {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 3px;
        margin: 0;
        padding: 10px 15px;
        color: white;
        font-size: 25px;
        text-align: center;
    }

    #section6 h3 {
        font-family: "맑은 고딕";
        font-weight: bold;
        letter-spacing: 3px;
        margin: 0;
        padding: 10px 15px;
        color: white;
        font-size: 25px;
        text-align: center;
    }

    #section6 #line {
        width: 160px;
        height: 110px;
        border: 2px solid gold;
        margin: -100px auto 0;
    }

    .boxbox {
        position: relative;
        margin: 25px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        overflow: hidden;
        width: 330px;
        height: 440px;
        display: inline-block;
    }

    .boxbox img {
        width: 100%;
        height: 100%;
    }

    .boxbox .info {
        position: absolute;
        left: 0;
        top: auto;
        bottom: -85px;
        /* overflow: hidden; */
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 13px;
        transition: 0.8s;
    }

    .boxbox .info h3 {

        font-size: 28px;

    }

    .boxbox:hover .info {

        bottom: 0;

    }




    #section7 {
        width: 100%;
        height: 800px;
        padding: 50px 0;
        background-color: #232323;
    }

    #blog1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: aliceblue;
        margin: 0 auto;
    }

    #blog1 h3 {
        width: 100%;
        font-size: 18px;
        margin: 0 auto;
        padding: 30px;
        text-align: center;
    }

    #blog1 h1 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 20px;
    }

    #blog1 span {
        width: 100%;
        font-size: 45px;
        color: orange;

    }


    #section7 .box1 {

        width: 30%;
        margin: 0 auto;

    }


    #section7 .box1 img {
        width: 100%;
    }

    #section7 .box1 .textbox {
        width: 380px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    #section8 {
        width: 100%;
        height: 600px;
        padding: 50px 0;
        background-color: #232323;
    }

    #section8>#contact_wrap {
        width: 1150px;
        height: 550px;
        margin: 0 auto;
        text-align: left;
    }

    #contact_wrap>p {
        color: #9e9d9b;
        margin: 25px 0 0 35px;
    }

    #contact_wrap>h2 {
        margin: 0 0 0 30px;
        color: white;
        font-family: "Century Gothic";
        font-size: 35px;
    }

    #contact_wrap>h2>span {
        color: #ffc525;
        font-family: "Century Gothic";
        font-size: 45px;
    }

    #contact_wrap>#line {
        width: 70px;
        height: 90px;
        border: 2px solid gold;
        margin: -90px 0 0 0;
    }

    #contact_wrap>#contact_box {
        width: 1150px;
        height: 440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #contact_box>#left_box {
        width: 400px;
        height: 350px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
    }

    #left_box>.contact_icon {
        width: 300px;
        height: 80px;
        display: flex;
    }

    .contact_icon>i {
        color: gold;
        font-size: 45px;
    }

    .contact_icon>p {
        color: #9e9d9b;
        font-size: 17px;
        margin: 0 0 0 40px;
    }

    #contact_box>#right_box {
        width: 730px;
        height: 400px;
    }

    #right_box>textarea {
        width: 333px;
        height: 20px;
        border: none;
        margin: 60px 15px 0 0;
        border-bottom: 1px solid gray;
        color: #9e9d9b;
        background-color: transparent;
        font-family: "Arial"
    }

    #right_box>textarea:nth-of-type(5) {
        width: 700px;
        padding: 0 0 60px 0;
    }

    #right_box>button {
        width: 700px;
        height: 50px;
        background-color: white;
        border: none;
        color: #232323;
        border-radius: 3px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Century Gothic";
        margin: 30px 0 0 0;
    }


    footer {
        width: 100%;
        height: 250px;
        background-color: #1f1f1f;
        padding: 0 0 20px 0;
    }

    footer>#footer_wrap {
        width: 1220px;
        height: 100px;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
    }

    #footer_wrap>p {
        color: white;
        margin: 0;
        font-size: 14px;
        font-family: "Arial";
    }

    #footer_wrap>#sns_box {
        width: 420px;
        height: auto;
        display: flex;
        margin: 0 0 0 35px;
    }

    #sns_box>.sns {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
        background-color: #161616;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sns>i {
        font-size: 17px;
        color: #9d9d9b;
    }

    #footer_wrap>input {
        width: 300px;
        height: 33px;
        float: left;
        margin: 0;
        font-family: "돋움";
        font-size: 12px;
        color: #9e9d9b;
        font-style: italic;
        background-color: transparent;
        border: 0;
        border: 3px solid #292929;
        margin: 0 0 0 25px;
    }

    #footer_wrap>button {
        width: 80px;
        height: 39px;
        background-color: #292929;
        color: white;
        border: none;
    }

    footer>#copy {
        width: 500px;
        height: auto;
        margin: 60px auto 0;
    }

    #copy>p {
        font-size: 13px;
        color: #9e9d9b;
        text-align: center;
        line-height: 180%;
    }

    #copy>p span {
        color: #ffc526;
    }


}