@charset "uft-8";


@media (max-width: 599px) {}





@media (min-width: 600px) and (max-width:1236px) {}







@media (min-width: 1237px) {


    #midblog {
        width: 2000px;
        height: 900px;
        background-color: aqua;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }

   #midblog article {
    width: 300px; height: 280px; 
    margin: 40px; border: solid 3px #ccc;
   }

   
   
article img{width: 100%; height: 100%;}

article h1{text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    letter-spacing: 2px;
    font-weight: bold;
}

    #sideblog {
        width: 2000px;
        height: 800px;
        display: flex;
        background-color: blueviolet;
    }

.blog_left {
    width: 50%; height: 100%;
    background: red;
}

.blog_left img {width: 100%; height: 100%;}


.blog_right {width: 50%; display: flex;}


.text{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 26px; letter-spacing: 2px; margin: 30px; padding: 20px;


}


    #onebox {
        width: 2000px;
        height: 800px;
        background-color: black;
    }

    #twobox {

        width: 2000px;
        height: 800px;
        background-color: brown;

    }

    #threebox {
        width: 2000px;
        height: 800px;
        background-color: yellow;
    }


}